body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    text-align: justify;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}



.subject-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, fr));
    gap: 15px;
}

.subject {
    text-align: justify;
}

.subject img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

button:hover {
    background-color: #555;
}

